.caesar-container {
    padding: 4rem;
    background: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 48px;
}

.caesar-container p {
    padding: 1rem 0;
    font-size: 21px;
    text-decoration: none;
    text-align: left;
    letter-spacing: 0.1cqb;
    padding-left: 0.5rem;
}

.image-display {
    /* width: 60%; */
    max-width: 80%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    padding: 40px 0 20px 0px;
}

.caesar-container h2 {
    /* padding: 1rem 0; */
    font-size: 24px;
    text-decoration: none;
    text-align: left;
    align-self: flex-start;
    margin-top: 58px;
}

.caesar-text-box {
    padding: 2em;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 2px;
    padding-left: 2rem;
}

.caesar-text {
    font-family: monospace;
    padding: 0 !important;
}

.caesar-container ol {
    list-style: none;
    font-size: 21px;
    text-decoration: none;
    text-align: left;
    letter-spacing: 0.1cqb;
    align-self: flex-start;
    padding: 1rem 0;
    padding-left: 0.5rem;
}

.caesar-container ol li {
    position: relative;
    padding-left: 1em;
}

.caesar-container ol li::before {
    content: counter(list-item) ".";
    position: absolute;
    left: 0;
}

.caesar-text-no-bullets {
    counter-reset: list-item;
    /* Reset the counter for the inner unordered list */
}

.caesar-text-no-bullets li::before {
    content: "";
    /* Remove the default content for the unordered list items */
}

.caesar-container ul {
    padding: 1rem 0;
    list-style: none !important;
    font-size: 21px;
    text-decoration: none;
    text-align: left;
    letter-spacing: 0.1cqb;
    align-self: flex-start;
    padding-left: 0.5rem;
}

.caesar-container ul li {
    position: relative;
    padding-left: 1em;
}

.caesar-container ul li::before {
    content: "\2022";
    position: absolute;
    left: 0;
    font-weight: bold;
}

.caesar-text-no-bullets {
    padding-left: 3rem !important;
}

@media screen and (max-width: 960px) {
    .caesar-container {
        padding: 2rem;
    }

    .caesar-container p {
        font-size: 18px;
    }

    .caesar-container ol {
        font-size: 18px;
    }

    .caesar-container ul {
        font-size: 18px;
    }

    .image-display {
        width: 60%;
    }

    .caesar-container h2 {
        font-size: 20px;
    }

    .caesar {
        font-size: 70px !important;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .caesar-container {
        padding: 1.5rem;
    }

    .caesar-container p {
        font-size: 16px;
    }

    .caesar-container ol {
        font-size: 16px;
    }

    .caesar-container ul {
        font-size: 16px;
    }

    .image-display {
        width: 60%;
    }

    .caesar-container h2 {
        font-size: 18px;
    }

    .caesar {
        font-size: 50px !important;
        margin-top: -150px;
    }
}