.intro-container {
    padding: 4rem;
    background: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* margin-bottom: 48px; */
}

.intro-container p {
    padding: 1rem 0;
    font-size: 21px;
    text-decoration: none;
    text-align: left;
    letter-spacing: 0.1cqb;
    padding-left: 0.5rem;
    align-self: flex-start;
}

.image-display {
    /* width: 60%; */
    max-width: 80%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    padding: 40px 0 20px 0px;
}

.intro-container h2 {
    /* padding: 1rem 0; */
    font-size: 24px;
    text-decoration: none;
    text-align: left;
    align-self: flex-start;
    margin-top: 58px;
}
hr {
    width: 100%;
    border: 1px solid #e6e4e4; /* Set the border style and color */
    margin: 20px 0; 
  }