* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Montserrat;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0em;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

.home,
.cryptography,
.information,
.sign-up,
.affine,
.atbash,
.caesar {
  display: flex;
  height: 92vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.cryptography {
  background-image: url("/public/images/image-12.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fefffe;
  font-size: 100px;
  background-color: #262626;
}

.information {
  background-image: url("/public/images/image-1.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fefffe;
  font-size: 100px;
  background-color: #262626;
}

.sign-up {
  background-image: url("/public/images/image-4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fefffe;
  font-size: 100px;
  background-color: #262626;
}

.affine {
  background-image: url("/public/images/image-8.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fefffe;
  font-size: 100px;
  background-color: #262626;
}

.atbash {
  background-image: url("/public/images/image-16.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fefffe;
  font-size: 100px;
  background-color: #262626;
}

.caesar {
  background-image: url("/public/images/image-10.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fefffe;
  font-size: 100px;
  background-color: #262626;
}

@media screen and (max-width: 960px) {

  .information,
  .sign-up,
  .cryptography,
  .caesar,
  .atbash,
  .affine {
    font-size: 70px !important;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {

  .information,
  .sign-up,
  .cryptography,
  .caesar,
  .atbash,
  .affine {
    font-size: 50px !important;
    margin-top: -150px;
  }
}